div.content-portfolio {
   position: relative;
   overflow: hidden;
}

div.content-portfolio div.overlay {
   position: absolute;
   inset: 0;
   background-color: rgb(26, 188, 156, .77);
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--white-color);
   transform: translateY(110%);
   transition: .4s linear;
   cursor: pointer;
}

div.content-portfolio div.overlay i {
   font-size: 5rem;
}

div.content-portfolio:hover div.overlay {
   transform: translateY(0);
}

div.box-container {
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(194, 219, 254, .5);
   z-index: 1;
}

div.box-container .box {
   width: 50%;
}